@import 'https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap';

  *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
              font-family: "Roboto", sans-serif;
            
        }
.phone-wrapper{
    display:flex;
    align-items:center;
    width:340px;
    border:1.5px solid #ccc;
    border-radius:8px;
    background:#fff;
    overflow:hidden;
    font-family:Arial, sans-serif;
}

.country{
    display:flex;
    align-items:center;
    gap:8px;
    padding:10px 12px;
    border-right:1px solid #ddd;
}

.country img{
    width:22px;
    height:16px;
}

.country span{
    font-size:14px;
    font-weight:500;
}

.phone-wrapper input{
    flex:1;
    
    border:none;
    outline:none;
    padding:12px;
    font-size:15px;
}
.adjusted{
    padding: 20px;
}
.back-icon{
    margin-bottom: 10px;
    margin-left: -10px;
}
.headings h1{
    margin-bottom: 7px;
    font-weight: 200;
}
.phone-wrapper{
    margin-top: 10px;
}
.continue{
    display: flex;
    justify-content: center;
    align-items: center;
}
.continue button{
    padding: 17px 30px;
    background-color: #262626;
    color: white;
    border-radius: 10px;
    border: none;
}
#para{
    line-height: 1.4rem;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
padding: 20px;
margin-top: -30px;
}
.inputs input{
    padding: 12px;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
       max-width: 370px;
    width: 100%;
}
::placeholder{
    color: black;
    font-weight: lighter;
}
.complete-btn{
    display: flex;
    justify-content: center;
}
.complete-btn button{
    background-color: #262626;
    color: white;
    padding: 17px;
    font-size: 18px;
    border: none;
    width: 80%;
    border-radius: 40px;
}
.cvcvcv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}